
nav{
    background: #eee;
}

.nav-item a{
  text-decoration: none;
  color: black;
}
.nav-array{
  color: #E9B000;
  margin-right: 10px;
}
.nav-box{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.nav-box2{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
}
.nav-item-border{
  border-bottom: solid 1px gray;
}
