
//@include mq('pc'){}
//@include mq('tab'){}
//@include mq('sp'){}

.flow-wrapper{
  background-image: url(../img/flow2.png);
  height: 0;
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 48.28%;
  background-size: cover;
  background-color: $main2_color;
}

@include mq('sp'){
  .flow-wrapper{
    display: none;
  }
  .flow-sp{
    display:block !important;
    margin: auto;
    width: 100%;
  }
}
@include mq('pc'){
  .flow-sp{
    display: none;
  }
}
@include mq('tab'){
  .flow-sp{
    display: none;
  }
}
