

//@include mq('pc'){}
//@include mq('tab'){}
//@include mq('sp'){}

header{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
  .header-left{
    p{
      margin-top: 36px;
      margin-bottom: 29px;
      margin-left: 47px;
    }
    .header-left-logo{
      margin-left: 56px;
    }
  }
  .header-right{
    .btn{
      position: absolute;
      top:0;
      right:20px;
    }
    .header-right-wrapper{
      //display: flex;
      padding-left: 132px;

      .tellogo{
        margin-top: 21px;
      }
      h2{
        font-size: 48px;
        margin-left: 13px;
        margin-top: 25px;
      }
    }
    .header-right-text{
      color: $main_color;
      margin-top: 21px;
      letter-spacing: 0.05em;
      padding-left: 130px;
    }
    .span1{
      padding: 5px 10px;
      border: solid 1px $main_color;
      border-radius: 8px;
      margin-right: 5px;
    }
    .span2{
      padding: 5px 15px;
      border: solid 1px $main_color;
      border-radius: 8px;
      margin: 0 5px;
    }
  }
}

.nav-pc ul{
  list-style: none;
}
.nav{
  //margin-right: 110px;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  li{
    margin-right: 10px;
    a{
      text-decoration: none;
      font-family: "Yu Gothic";
      font-size: 20px;
      color: $black;
      font-weight: bold;
      padding: 5px 15px;
    }
  }
}
.nav-border{
  border-right: solid 3px $sub_color;
}
.header-tabsp-wrapper{
  display: none;
}

.header-hover {
  border-bottom: 10px solid #C95F00;
  border-right: 1px solid #C95F00;
  background-color: #EA7500;
  color: #fff;
  display: inline-block;
  padding: 16px 27px;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease 0s;
}
.header-hover:hover {
  //border-bottom: none;
  border-right:none;

  border-bottom-color: transparent;
  transform: translateY(10px);
}

@include mq('tab'){
  header{
    display: none;
  }
  .header-tabsp-wrapper{
    //display: block;
    display: flex;
    justify-content: space-between;
  }
  .header-tab-left p{
    display: none;
  }
  .header-tab-left,.nav-tabsp-right{
    align-self: flex-end;
  }

  .nav-tabsp-right{
  //  margin-left: 200px;
    z-index: 6!important;
  }
  .nav-tansp-left{
    z-index: 3!important;
  }
  .slide-reveal-overlay{
    z-index: 5!important;
  }
  .header-tab-right{
    display: flex;
  }
  .nav-tansp-left{
    position: relative;
    top: 13px;
  }

}
@include mq('sp'){
  .header-tabsp-wrapper{
      display: flex;
    }

  .header-left-logo{
    margin-left: 5% !important;
    margin-top: 5% !important;
    height: 100%;
    width: 75%;
  }

  .nav-tabsp-right{
    position: fixed;
    right: 10px;
    margin-left: 0;
  }
  .nav-tansp-left{
    position: fixed;
    right: 80px;
    top: 9px;
    margin-left: 0;
  }

  .header-tabsp-wrapper{
    margin-bottom: 25px;
  }
}
