

//@include mq('pc'){}
//@include mq('tab'){}
//@include mq('sp'){}

header{
  display: flex;
  .header-left{
    width: 40%;
  }
  .header-right{
    width: 60%;
    position: relative;
    .btn{
      position: absolute;
      top:0;
      right:0;
    }
    .header-right-wrapper{
      display: flex;
    }
  }
}

nav ul{
  list-style: none;
}
.nav{
  display: flex;
  //justify-content: space-between;
  li{
    margin-right: 10px;
    a{
      text-decoration: none;
    }
  }
}
